* {
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}
.container {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.result {
    height: fit-content;
    margin: 15px 0;
    text-align: center;
}
.count {
    background-color: #54c6a637;
    color: #193c32;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border-radius: 15px;
}
.count,
.count h2 {
    margin-bottom: 20px;
}
.btn {
    display: block;
    margin: 20px 0;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #193c32;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.cards-container {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.blur,
.card,
.clicked {
    width: 120px;
    height: 120px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 20px;
    transition: 0.5s linear;
}
.card,
.clicked {
    background-color: #54c6a6;
    background-position: center;
    box-shadow: -3px 3px 10px 0 #6f6f6f;
    cursor: pointer;
    transform: rotateY(0deg);
}
.blur {
    background-color: #54c6a637 !important;
    cursor: no-drop;
    box-shadow: none;
}
.card img,
.clicked img {
    display: none;
    width: 100%;
    height: 100%;
}
.blur img {
    display: none !important;
}
